<h1 id="tableLabel">Orders</h1>

<p>Available Orders</p>

<p *ngIf="!orders"><em>Loading...</em></p>




<table class='table table-hover' aria-labelledby="tableLabel" *ngIf="orders">
  <thead>
    <tr>

      <th>Email</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Id</th>
      <th>Products</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; let even = even; let odd = odd" [ngClass]="{ 'table-success': odd, 'table-danger': even }">

      <td>{{ order.email }}</td>
      <td>{{ order.phone }}</td>
      <td>{{ order.date | date: "dd-MM-YYYY hh:mm:ss" }}</td>
      <td>{{ order.id }}</td>
      <td>
        <span *ngFor="let product of order.products">
          {{ product.name }}<br>

        </span>
      </td>
      <td>{{ order.total }}</td>
    </tr>
  </tbody>
</table>
