<h1 id="tableLabel">Products</h1>

<p>Available Products</p>

<p *ngIf="!products"><em>Loading...</em></p>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">

  <div class="box">
    <label for="phone">Phone</label>
    <input type="text" name="phone" class="form-control" ngModel>
  </div>
  <div class="box">
    <label for="email">Email </label>
    <input type="text" name="email" class="form-control" ngModel>
    </div>

  <input class="btn btn-outline-primary" type="submit" value="Order">
</form>

<br>

<table class='table table-hover' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Choose</th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let even = even; let odd = odd" [ngClass]="{ 'table-success': odd, 'table-danger': even }">
      <td><input (change)="onChange(product)" type="checkbox" value="{{ product.id }}"></td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
<p> <b>Current price: {{showCurrentPrice()}}</b></p>
